@import '../variable';

.error404 {
    img {
        width: 50%;
        height: 50%;

        position: absolute;
        margin: auto;
        padding: 0;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        z-index: -100;
    }

    div.text-list {
        position: absolute;
        height: 100%;
        overflow-y: hidden;

        display: flex;
        flex-wrap: wrap;

        span {
            user-select: none;
            cursor: pointer;

            color: transparent;
            -webkit-text-stroke-color: transparent;
            -webkit-text-stroke-width: .5px;

            font-size: 144px;
            font-weight: bold;

            &:hover {
                -webkit-text-stroke-color: $primary-color;
            }

            &:active {
                color: $primary-color;
            }
        }
    }
}