@import '../variable';

nav {
    position: sticky;
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    // border-bottom: 1px solid black;

    z-index: 1071;
    top: 0;
    width: 100%;
    height: 100px;

    background-color: white;

    ul {
        padding: 0;
        list-style-type: none;
        grid-column: 2 / 5;

        display: grid;
        grid-template-columns: repeat(6, 1fr);

        li:not(:last-child) {
            display: flex;
            justify-content: stretch;

            a {
                display:flex;
                align-items: center;

                width: 100%;
                height: 100%;

                color: $primary-color;
                font-weight: bold;
                text-decoration-line: none;

                &:active {
                    color: white;
                }
            }

            &:hover {
                border: 2px dashed $primary-color;
            }

            &:active {
                background-color: $primary-color;
            }
        }

        li:last-child {
            grid-column-start: 6;

            display: flex;
            justify-content: center;
            align-self: center;

            a {
                width: 70%;
                height: 50px;

                display: flex;
                justify-content: center;
                align-items: center;
                
                text-decoration-line: none;
                font-weight: bold;
                
                color: $primary-color;
                background-color: white;
                border: 2px solid $primary-color;
                border-radius: 30px;
                outline-width: 0;
                
                &:hover {
                    color: $primary-color;
                    background-color: white;
                    border-style: dashed;
                }
                
                &:active {
                    color: white;
                    background-color: $primary-color;
                    border-style: solid;
                }
            }
        }
    }
}